<article class="post">
    <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
    </div>
        <p>{{post_content}}</p>
    <div class="meta">
        by {{user.username}} on {{createdAt}}
    </div>
</article>